*{
	margin: 0;
	padding: 0;
}
html,body{
	background: #000;
	height: 100%;
	width: 100%;
	font-family: "微软雅黑";
}

.index_box{
	width: 300px;
	height: 300px;
	line-height: 300px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -150px;
	font-size: 30px;
}